* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
div.box1 {
  width: 90%;
  height: 700px;
  background-color: #c93434;
  position: fixed;
  z-index: 200;
  right: -100%;
  transition: all 1s ease;
}
div.box1 p {
  width: 100%;
  text-align: center;
  height: 35px;
  border-bottom: 1px solid #CCCCCC;
  line-height: 35px;
}
div.box1 p a {
  color: white;
}
div.box1 p:nth-child(1) {
  margin-top: 20px;
}
div.box {
  width: 100%;
  height: auto;
  transition: all 1s ease;
}
div.box div.fanh {
  width: 34px;
  height: 34px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #828282;
  display: none;
  z-index: 11;
}
div.box div.fanh img {
  width: 100%;
  height: 100%;
}
div.box nav {
  width: 95%;
  height: 80px;
  margin: 0 auto;
  position: relative;
  z-index: 12;
}
div.box nav div {
  width: 280px;
  height: 56px;
  float: left;
  margin-top: 12px;
}
div.box nav div img {
  width: 100%;
  height: 100%;
}
div.box nav ul.navul {
  height: 36.6px;
  margin-top: 21.7px;
  float: right;
}
div.box nav ul.navul img {
  opacity: 0;
  transition: all 1s ease;
}
div.box nav ul.navul li {
  line-height: 36.6px;
  margin: 0 10px;
  text-align: right;
  float: left;
}
div.box nav ul.navul li a {
  color: #AAAAAA;
}
div.box nav ul.navul li.qss a {
  color: #888888;
}
div.box div.jtnav {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  height: 57px;
  margin: 0 0%;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 11;
}
div.box div.jtnav div {
  width: 160px;
  height: 32px;
  float: left;
  margin-top: 12.5px;
}
div.box div.jtnav div img {
  width: 100%;
  height: 100%;
}
div.box div.jtnav ul.navul {
  width: 35%;
  float: right;
  height: 36.6px;
  margin-top: 10.2px;
}
div.box div.jtnav ul.navul li {
  line-height: 36.6px;
  margin: 0 10px;
  float: left;
}
div.box div.jtnav ul.navul li a {
  color: #AAAAAA;
}
div.box div.jtnav ul.navul li.qss a {
  color: #888888;
}
div.box main div.ditu {
  width: 100%;
  height: 422px;
}
div.box main div.ditu #map #allmap {
  width: 100%;
  height: 422px;
}
div.box main div.contact {
  margin-top: 100px;
}
div.box main div.contact div.cent {
  width: 80%;
  margin: 0 auto;
  height: 338px;
  padding-bottom: 50px;
}
div.box main div.contact div.cent div.cild {
  width: 25%;
  float: left;
  overflow: hidden;
}
div.box main div.contact div.cent div.cild ul {
  width: 100%;
}
div.box main div.contact div.cent div.cild ul span {
  width: 100%;
  font-size: 15px;
  color: #333333;
  font-family: "微软雅黑";
}
div.box main div.contact div.cent div.cild ul li {
  width: 100%;
  text-align: left;
  margin: 8px 0;
  font-size: 13px;
  font-family: "微软雅黑";
  color: #888888;
}
div.box main div.contact div.cent div.cild ul:nth-child(2) {
  margin-top: 30px;
}
div.box main div.contact div.cent div.cont {
  width: 70%;
  float: right;
  overflow: hidden;
  height: 100%;
}
div.box main div.contact div.cent div.cont ul {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
div.box main div.contact div.cent div.cont ul::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
div.box main div.contact div.cent div.cont ul li {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
div.box main div.contact div.cent div.cont ul li div.lfet {
  float: left;
  width: 48%;
}
div.box main div.contact div.cent div.cont ul li div.lfet input {
  width: 100%;
  height: 25px;
  outline: 0;
}
div.box main div.contact div.cent div.cont ul li div.lfet span {
  color: white;
  font-size: 12px;
  display: none;
  height: 20px;
  background-color: red;
  padding: 2px 5px;
  margin-top: 5px;
}
div.box main div.contact div.cent div.cont ul li div.lfet span i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/2.png) no-repeat center / 100% 100%;
  margin: 0 3px;
}
div.box main div.contact div.cent div.cont ul li div.lrigh {
  float: right;
  width: 48%;
}
div.box main div.contact div.cent div.cont ul li div.lrigh input {
  width: 100%;
  height: 25px;
  outline: 0;
}
div.box main div.contact div.cent div.cont ul li div.lrigh span {
  color: white;
  font-size: 12px;
  display: none;
  height: 20px;
  background-color: red;
  padding: 2px 5px;
  margin-top: 5px;
}
div.box main div.contact div.cent div.cont ul li div.lrigh span i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/2.png) no-repeat center / 100% 100%;
  margin: 0 3px;
}
div.box main div.contact div.cent div.cont ul li textarea {
  width: 100%;
  height: 76px;
  overflow-x: none;
  outline: 0;
}
div.box main div.contact div.cent div.cont ul li div.but {
  width: 100px;
  height: 30px;
  background-color: #969696;
  font-size: 14px;
  font-family: "微软雅黑";
  color: white;
  text-align: center;
  line-height: 30px;
}
div.box main div.contact div.cent div.cont ul li div.but:hover {
  background-color: #787878;
}
div.box main div.contact div.cent div.cont ul li:nth-child(3) {
  width: 100%;
  height: 76px;
}
div.box main div.contact div.cent div.cont ul li:nth-child(5) {
  width: 100%;
  height: 74px;
}
div.box main div.contact div.cent div.cont ul li:nth-child(5) span {
  display: block;
  font-size: 15px;
  color: #666;
  margin: 3px 0;
}
div.box footer {
  border-top: 1px solid #CCCCCC;
  width: 100%;
  height: 63px;
}
div.box footer p {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #aaaaaa;
  text-align: center;
  line-height: 63px;
}
@media screen and (max-width: 770px) {
  div.box nav div {
    width: 100%;
    height: 43px ;
  }
  div.box nav div img {
    display: block;
    width: 215px;
    height: 43px;
    margin: 0 auto;
  }
  div.box nav ul.navul > img {
    opacity: 1;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    margin-top: 14.7px;
    z-index: 11;
  }
  div.box nav ul.navul li {
    display: none;
  }
  div.box {
    height: 1300px;
  }
  div.box div.jtnav {
    display: none;
  }
  div.box main div.ditu {
    width: 100%;
    height: 250px;
  }
  div.box main div.ditu #map {
    width: 100%;
    height: 100%;
  }
  div.box main div.ditu #map #allmap {
    height: 250px;
  }
  div.box main div.contact {
    height: auto;
  }
  div.box main div.contact div.cent {
    width: 94%;
    margin: 0 auto;
    height: 635px;
  }
  div.box main div.contact div.cent div.cild {
    width: 100%;
    float: none;
  }
  div.box main div.contact div.cent div.cont {
    width: 100%;
    float: none;
  }
  div.box footer {
    width: 100%;
    height: 101px;
  }
  div.box footer p {
    line-height: inherit;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  div.box main div.contact div.cent div.cont {
    width: 60%;
  }
  div.box div.jtnav ul.navul {
    width: auto;
  }
}
