*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}
a:hover{
text-decoration: none;	
}
div.box1{
	width: 90%;
	height: 700px;
	background-color: #c93434;
	position: fixed;
	z-index: 200;
	right:-100%;
     transition: all 1s ease;
	p{
		width: 100%;
		text-align: center;
		height: 35px;
		border-bottom: 1px solid #CCCCCC;
		a{
			color: white;
		}
		line-height: 35px;
	}
	p:nth-child(1){
		margin-top: 20px;
	}
}
div.box{
	width: 100%;
	height: auto;
	transition: all 1s ease;
	div.fanh{
		width: 34px;
		height: 34px;
		position: fixed;
		bottom:10px;
		right: 10px;
		background-color: #828282;
		display: none;
		z-index:11;
		img{
			width: 100%;
			height: 100%;
		}
	}
	nav{
		@heigh:80px;
		width: 95%;
		height: @heigh;
		margin: 0 auto;
		position: relative;
		z-index: 12;
		div{
			@hid:56px;
			width: 280px;
			height: 56px;
			float: left;
			margin-top: (@heigh - @hid)/2;
			img{
				width: 100%;
				height: 100%;
			}
		}
		ul.navul{
			@hid:36.6px;
			height:@hid ;
			margin-top: (@heigh - @hid)/2;
			float:right;
			img{
				opacity: 0;
				transition: all 1s ease; 
			}
			li{
				line-height: @hid;
				margin:0 10px;
			   text-align: right;
			   float: left;
			   a{
				   color: #AAAAAA;
			   }
			}
			li.qss{
				a{
					color: #888888;
				}
			}
		}
	}
		div.jtnav{
			@heigh:57px;
			@width: 100%;
			width: @width;
			background-color: #FFFFFF;
			border-bottom: 1px solid #CCCCCC;
			height: @heigh;
			margin: 0 (100%  - @width)/2 ;
			position: fixed;
			top: 0;
			opacity: 0;
			z-index: 11;
			div{
				@hid:32px;
				width: 160px;
				height:@hid;
				float: left;
				margin-top: (@heigh - @hid)/2;
				img{
					width: 100%;
					height: 100%;
				}
			}
			ul.navul{
				width: 35%;
				@hid:36.6px;
				float: right;
				height:@hid ;
				margin-top: (@heigh - @hid)/2;
				li{
					line-height: @hid;
					margin:0 10px;
					float: left;
					a{
									   color: #AAAAAA;
					}
				}
				li.qss{
					a{
						color: #888888;
					}
				}
		}
		}
		main{
			div.ditu{
				width: 100%;
				height: 422px;
				#map{
					#allmap{
						width: 100%;
						height: 422px;
					}
				}
			}
			div.contact{
				margin-top: 100px;
				div.cent{
					width: 80%;
					margin: 0 auto;
					height: 338px;
					padding-bottom: 50px;
					div.cild{
						width: 25%;
						float: left;
						overflow: hidden;
						ul{
							width: 100%;
							span{
								width: 100%;
								font-size: 15px;
								color: #333333;
								font-family: "微软雅黑";
							}
							li{
								width: 100%;
								text-align:left;
								margin: 8px 0;
								font-size: 13px;
								font-family: "微软雅黑";
								color: #888888;
							}
						}
						ul:nth-child(2){
							margin-top: 30px;
						}
					}
					div.cont{
						width: 70%;
						float: right;
						overflow: hidden;
						height: 100%;
						ul{
							width: 100%;
							overflow: hidden;
							&::after{
								content:"";
								display: block;
								clear: both;
								overflow: hidden;
							}
							height: 100%;
						li{
							width: 100%;
							@wid:48%;
							height: 30px;
							margin: 10px 0;
							div.lfet{
								float: left;
								width: @wid;
								input{
									width: 100%;
									height: 25px;
									outline: 0;
								}
								span{
									i{
										width: 10px;
										height: 10px;
										display: inline-block;
										background: url(../img/2.png) no-repeat center/100% 100%;
										margin:0 3px;
									}
									color: white;
									font-size: 12px;
									display: none;
									height: 20px;
									background-color: red;
									padding: 2px 5px;
									margin-top: 5px;
								}
							}
							div.lrigh{
								float: right;
								width: @wid;
								input{
									width: 100%;
									height: 25px;
									outline: 0;
								}
								span{
									color: white;
									font-size: 12px;
									i{
										width: 10px;
										height: 10px;
										display: inline-block;
										background: url(../img/2.png) no-repeat center/100% 100%;
										margin:0 3px;
									}
									display: none;
									height: 20px;
									background-color: red;
									padding: 2px 5px;
									margin-top: 5px;
								}
							}
							textarea{
								width: 100%;
								height: 76px;
								overflow-x: none;
								outline: 0;
							}
						  div.but{
							  width: 100px;
							  height: 30px;
							  background-color: #969696;
							  font-size: 14px;
							  font-family: "微软雅黑";
							  color: white;
							  text-align: center;
							  line-height: 30px;
							  &:hover{
								  background-color: #787878;
							  }
						  }
						  
						}
						li:nth-child(3){
							width: 100%;
							height: 76px;
						}
						li:nth-child(5){
							width: 100%;
							height: 74px;
							span{
								display: block;
								font-size: 15px;
								color: #666;
								margin: 3px 0;
							}
						}
					  }
					}
				}
			}
		}
	footer{
		border-top: 1px solid #CCCCCC;
		width: 100%;
		height: 63px;
		p{
			width: 80%;
			margin: 0 auto;
			font-size: 12px;
			font-family: "微软雅黑";
			color: #aaaaaa;
			text-align: center;
			line-height: 63px;
		}
	}
}
@media screen and(max-width:770px) {
	div.box nav div{
		width: 100%;
		height:43px ;
		img{
			display: block;
		width: 215px;
		height: 43px;
		margin: 0 auto;
		}
	}
div.box nav ul.navul>img{
	opacity: 1;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 14px;
	height: 14px;
	margin-top: 14.7px;
	z-index: 11;
}
div.box nav ul.navul li{
	display: none;
	
}
div.box{
	height: 1300px;
	div.jtnav{
		display: none;
	}
	main{
		div.ditu{
			width: 100%;
			height: 250px;
			#map{
				width: 100%;
				height: 100%;
				#allmap{
					height: 250px;
				}
			}
		}
		div.contact{
			height: auto;
			div.cent{
				width: 94%;
				margin: 0 auto;
				height: 635px;
			div.cild{
				width: 100%;
				float: none;
			}
			div.cont{
				width: 100%;
				float: none;
			}
		  }
		}
	}
	
	footer{
			 width: 100%;
			 height: 101px;
			 p{
				 line-height:inherit;
				 margin-top: 20px;
			 }
		 }
}

}
@media screen and(max-width:1300px) {
  div.box main div.contact div.cent div.cont{
	  width:60%;
  }
  div.box div.jtnav ul.navul{
  	  width: auto;
  }
}