* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
div.box1 {
  width: 90%;
  height: 700px;
  background-color: #c93434;
  position: fixed;
  z-index: 200;
  right: -100%;
  transition: all 1s ease;
}
div.box1 p {
  width: 100%;
  text-align: center;
  height: 35px;
  border-bottom: 1px solid #CCCCCC;
  line-height: 35px;
}
div.box1 p a {
  color: white;
}
div.box1 p:nth-child(1) {
  margin-top: 20px;
}
div.box {
  width: 100%;
  height: auto;
  transition: all 1s ease;
}
div.box div.fanh {
  width: 34px;
  height: 34px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #828282;
  display: none;
  z-index: 11;
}
div.box div.fanh img {
  width: 100%;
  height: 100%;
}
div.box nav {
  width: 95%;
  height: 80px;
  margin: 0 auto;
  position: relative;
  z-index: 12;
}
div.box nav div {
  width: 280px;
  height: 56px;
  float: left;
  margin-top: 12px;
}
div.box nav div img {
  width: 100%;
  height: 100%;
}
div.box nav ul.navul {
  height: 36.6px;
  margin-top: 21.7px;
  float: right;
}
div.box nav ul.navul img {
  opacity: 0;
  transition: all 1s ease;
}
div.box nav ul.navul li {
  line-height: 36.6px;
  margin: 0 10px;
  text-align: right;
  float: left;
}
div.box nav ul.navul li a {
  color: #AAAAAA;
}
div.box nav ul.navul li.qss a {
  color: #888888;
}
div.box div.jtnav {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  height: 57px;
  margin: 0 0%;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 11;
}
div.box div.jtnav div {
  width: 160px;
  height: 32px;
  float: left;
  margin-top: 12.5px;
}
div.box div.jtnav div img {
  width: 100%;
  height: 100%;
}
div.box div.jtnav ul.navul {
  width: 35%;
  float: right;
  height: 36.6px;
  margin-top: 10.2px;
}
div.box div.jtnav ul.navul li {
  line-height: 36.6px;
  margin: 0 10px;
  float: left;
}
div.box div.jtnav ul.navul li a {
  color: #AAAAAA;
}
div.box div.jtnav ul.navul li.qss a {
  color: #888888;
}
div.box main div.Promo {
  width: 100%;
  height: auto;
}
div.box main div.Promo div.tit {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  height: 184px;
}
div.box main div.Promo div.tit p {
  text-align: center;
}
div.box main div.Promo div.tit p a {
  display: inline-block;
  font-size: 22px;
  border-bottom: 1px solid #494949;
  padding-bottom: 5px;
  font-weight: bold;
  color: #494949;
}
div.box main div.Promo div.tit p a:hover {
  text-decoration: none;
}
div.box main div.Promo div.tit p span {
  line-height: 30px;
  display: block;
  font-size: 16px;
  color: #999999;
  font-style: italic;
  border: 0;
}
div.box main div.Promo ul {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 100px;
}
div.box main div.Promo ul::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
div.box main div.Promo ul li {
  padding: 25px;
}
div.box main div.Promo ul li div.wek {
  box-shadow: 0px 0px 5px #ccc;
  padding: 0;
  background-color: #f4f4f4;
  padding-bottom: 30px;
  transition: all 1s ease;
  transform: translateY(100%);
  opacity: 0;
}
div.box main div.Promo ul li div.wek div {
  width: 100%;
  height: 380px;
}
div.box main div.Promo ul li div.wek div img {
  width: 100%;
  height: 100%;
}
div.box main div.Promo ul li div.wek p {
  font-size: 20px;
  color: #C93434;
  font-family: "宋体";
  text-align: center;
  margin: 5px 0;
}
div.box main div.Promo ul li div.wek p.huod {
  width: 90%;
  margin: 10px auto;
  font-size: 14px;
  color: #606060;
  text-align: left;
  font-family: "微软雅黑";
}
div.box main div.Promo ul li div.wek p.huod:nth-child(7) {
  padding-bottom: 20px;
}
div.box main div.Promo ul li div.wek span:nth-child(4) {
  display: block;
  font-size: 14px;
  color: #606060;
  font-family: "微软雅黑";
  text-align: center;
}
div.box main div.Promo ul li div.wek span:nth-child(3) {
  display: block;
  font-size: 13px;
  color: #828282;
  font-family: "微软雅黑";
  text-align: center;
  margin: 10px 0;
}
div.box footer {
  border-top: 1px solid #CCCCCC;
  width: 100%;
  height: 63px;
}
div.box footer p {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #aaaaaa;
  text-align: center;
  line-height: 63px;
}
@media screen and (max-width: 770px) {
  div.box nav div {
    width: 100%;
    height: 43px ;
  }
  div.box nav div img {
    display: block;
    width: 215px;
    height: 43px;
    margin: 0 auto;
  }
  div.box nav ul.navul > img {
    opacity: 1;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    margin-top: 14.7px;
    z-index: 11;
  }
  div.box nav ul.navul li {
    display: none;
  }
  div.box {
    height: 3000px;
  }
  div.box div.jtnav {
    display: none;
  }
  div.box main div.Promo div.tit {
    height: 0px;
  }
  div.box main div.Promo div.tit p {
    line-height: 10px;
  }
  div.box main div.Promo div.tit span {
    line-height: 0px;
  }
  div.box main div.Promo ul {
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px ;
  }
  div.box main div.Promo ul li {
    margin: 5px 0px;
    padding: 0;
  }
  div.box main div.Promo ul li div.wek div {
    width: 100%;
    height: 254px;
  }
  div.box footer {
    width: 100%;
    height: 101px;
  }
  div.box footer p {
    line-height: inherit;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  div.box div.jtnav ul.navul {
    width: auto;
  }
}
